.banner-image{
    background-image: url('#{$theme-imgpath}/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    position: relative;
    top: -60px;
    .banner-text{
        position: absolute;
        bottom: -90px;
        left: 0;
        right:0;
        z-index: 2;
        &__wrapper{
        background-color:#231E28;
        padding-left:  13px;
        .left::before{
            left: -999em;
            background-color:#231E28;
            content: '';
            display: block;
            position: absolute;
            width: 999em;
            top: 0;
            bottom: 0;
        }
        &__title{
        padding: 100px 0px;
            h1{
                color: #ffffff;
                font-size: 56px;
                line-height: 74px;
            }
            p{
                color: #ffffff;
                line-height: 26px;
                font-size: 18px;
                letter-spacing: 0.5px;
                font-weight: 300;
            }
        }
        &__link{
            background-color: #342E39;
            // grid-column: 8/13;
            padding: 100px 50px;
            display: grid;
            grid-template-rows: 1fr;
            p{
                color:#FD5F07 ;
                margin-bottom: 10px;
                align-self: end;
            }
            a{
                color: #ffffff;
                font-size: 18px;
                font-weight: 400;
                line-height: 26px;
                align-self: end;
                letter-spacing: 0.5px
            }
        }
        }
        
    }
}