.banner-image{
    background-image: url('#{$theme-imgpath}/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    position: relative;
    top: -60px;
    .banner-text{
        position: absolute;
        bottom: -90px;
        left: 0;
        background-color:#231E28;
        max-width: 80%;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        z-index: 2;
        &__title{
        grid-column: 1/8;
        padding: 100px 0px;
        padding-left: 45%;
            h1{
                color: #ffffff;
                font-size: 56px;
                line-height: 74px;
            }
            p{
                color: #868C92;
                line-height: 26px;
                font-size: 20px;
            }
        }
        &__link{
            background-color: #342E39;
            grid-column: 9/13;
            padding: 100px 50px;
            display: grid;
            grid-template-rows: 1fr;
            p{
                color:#FD5F07 ;
                margin-bottom: 10px;
                align-self: end;
            }
            a{
                color: #ffffff;
                font-size: 18px;
                font-weight: 700;
                line-height: 26px;
                align-self: end;
            }
        }
    }
}