
.offerings{
    background-color: #eeeeee;
    padding: 80px 0px;
    .section-heading{
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        margin-bottom: 50px;
        color: #868C92; 
    }
}


.contactUs{
    padding: 115px 0px;
    margin-bottom: 55px;
    background-color: $orange;
    .section-title{
        color: $white;
        font-size: 45px;
        font-weight: 900;
        margin-bottom: 10px;
    }
    .sub-title{
        color: $white;
        font-size: 18px;
        line-height: 32px;
        font-weight: 400;
    }

    .contactus-form{
        margin-top: 20px;
        .form-control{
            color: $white;
            border: none;
            border-bottom: 1px solid $white;
            border-radius: 0px;
            background-color: transparent;
            &::placeholder{
                color: $white;
                font-size: 16px;
            }
        }
        .text-area{
            border: 1px solid $white;
            &::placeholder{
                padding: 13px;
            }
        }
        .btn-primary{
            background-color: $white;
            color: grey;
            border-radius:25px;
            padding: 8px 25px;
            border: none;
            font-weight: 700;
            font-size: 16px;
        }
    }
}

.info{
    padding-bottom: 45px;
    padding-top: 50px;
    margin-bottom: 55px;
    background-color: #ffffff;
    position: relative;
    .banner-text{
        position: absolute;
        top: -300px;
        left: 0;
        background-color:#231E28;
        max-width: 80%;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        &__title{
        grid-column: 1/8;
        padding: 100px 0px;
        padding-left: 45%;
            h1{
                color: #ffffff;
                font-size: 56px;
                line-height: 74px;
            }
            p{
                color: #868C92;
                line-height: 26px;
                font-size: 20px;
            }
        }
        &__link{
            background-color: #342E39;
            grid-column: 9/13;
            padding: 100px 50px;
            display: grid;
            grid-template-rows: 1fr;
            p{
                color:#FD5F07 ;
                margin-bottom: 10px;
                align-self: end;
            }
            a{
                color: #ffffff;
                font-size: 18px;
                font-weight: 700;
                line-height: 26px;
                align-self: end;
            }
        }
    }
    
}

.whyPersistent{
    margin-bottom: 50px;
    padding: 50px 0px;
    .section-title{
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #231E28;
    }
    .block{
        &__title{
           font-size: 20px;
           line-height: 30px;
           font-weight: 700;
           color: #231E28; 
        }
        &__description{
            font-size: 15px;
            line-height: 26px;
            color: #19151C;
        }
    }
}

.homepage-slider{
    background-color: #231E28;
    .slider{
        &__content{
            padding: 50px;
            &__text{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                margin-bottom: 20px;
                h2{
                    color: #ffffff;
                    font-size: 42px;
                    line-height: 50px;
                }
            }
        }
    }
}