
.offerings{
    background-color: #eeeeee;
    padding: 80px 0px;
    .section-heading{
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        margin-bottom: 50px;
        color: #868C92; 
    }
}

 
.contactUs{
    padding: 115px 0px;
    margin-bottom: 55px;
    background-color: $orange;
    .section-title{
        color: $white;
        font-size: 45px;
        font-weight: 900;
        margin-bottom: 10px;
        line-height: 40px;
    }
    .sub-title{
        color: $white;
        font-size: 18px;
        line-height: 32px;
        font-weight: 300;
    }

    .contactus-form{
        margin-top: 20px;
        .form-control{
            color: $white;
            border: none;
            border-bottom: 1px solid $white;
            border-radius: 0px;
            background-color: transparent;
            &::placeholder{
                color: $white;
                font-size: 16px;
            }
        }
        .text-area{
            border: 1px solid $white;
            &::placeholder{
                padding: 13px;
            }
        }
        .btn-primary{
            background-color: $white;
            color: #000000;
            border-radius:25px; 
            padding: 8px 25px;
            border: none;
            font-weight: 700;
            font-size: 16px;
        }
    }
}

.info{
    padding-bottom: 45px;
    padding-top: 80px;
    margin-bottom: 35px;
    background-color: #ffffff;
    position: relative;
    p{
        font-size: 18px;
        line-height: 30px;
    }
}

.whyPersistent{
    padding: 80px 0px;
    .section-title{
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #231E28;
    }
    .block{
        &__title{
           font-size: 20px;
           line-height: 30px;
           font-weight: 700;
           color: #231E28; 
        }
        &__description{
            font-size: 15px;
            line-height: 26px;
            color: #19151C;
        }
    }
}

.homepage-slider{
    background-color: #231E28;
    padding-bottom: 70px;
    .slider{
        &__content{
            padding: 50px 0px;
            padding-left: 13px;    
            &__text{
                &__logo{
                    ul{
                        padding: 0px;
                        margin-bottom: 15px;
                        letter-spacing: 0.5px;
                        li{
                            color: #ffffff;
                            list-style-type: none;
                            display: inline-block;
                            margin-right: 20px;
                            font-size: 18px;
                            font-weight: 700;
                            &:first-child{
                                color: #868C92;
                            }
                        }
                    }
                }
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                margin-bottom: 20px;
                h2{
                    color: #ffffff;
                    font-size: 42px;
                    line-height: 50px;
                }
            }
        }

        .slick-dots{
            text-align: left;
            bottom: -50px;
            li{
                width: 100px;
                button{
                    &:before{
                        background-color: #ffffff;
                        content: '';
                        width: 99px;
                        height: 2px;
                        opacity: 1;
                    }
                }
                &.slick-active{
                    button{
                        &:before{
                            background-color: #FD5F07;
                            content: '';
                            width: 99px;
                            height: 2px;
                            opacity: 1;
                        }
                    }
                }
                
            }
        }

        .slick-prev,
        .slick-next{
            bottom: -25px;
            top: auto;
        }

        .slick-prev{
            right: 100px;
            left: auto;
            &::before{
                font-size: 50px;
            }
        }
        .slick-next{
            right: 0px;
            &::before{
                font-size: 50px;
            }
        }
    }
}